{% extends 'video/base.html' %}

{% block body %}

    <section class="section">
        <div class="container">
                <video controls>
                    <source src="earth_video.mp4" type="video/mp4">
                </video>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <!-- Main container -->
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Video Title</h1>
                    </div>
                </div>

                <!-- Right side -->
                <div class="level-right">
                    <p class="level-item">
                        <strong>11 hours ago</strong>
                    </p>
                </div>
            </nav>

        </div>
    </section>

{% endblock %}
